.content-area {
    
    font-size: 16px;
    color: #2c2c2c;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://t4.ftcdn.net/jpg/02/68/16/31/360_F_268163179_NaOUk90y7UxfRu30RYPV2x484KN8alko.jpg); 
    width: 100vw;
    height: 100vh;
    position: relative;
    color: white;  
}
