.card-for-airline{
    // margin-bottom: 4%;
    border: 2px solid red;
    padding: 1%;
    margin-top: 11%;
    border-radius: 4px;
}
.content-area{
    background-image: url('../../../../assets/flight-images/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}