
    <div class="wrapper" id="loading">
        <app-header></app-header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="carousel-caption-top ">
                                <h1>WEL COME</h1>
                                <p  class="for-name-of-flight  background: rgba(0, 0, 0, 0.5);">  <img src="../../../assets/flight-images/logo.png" alt="Profile" class="round-image">FLY HIGH BUDDY  <img src="../../../assets/flight-images/logo.png" alt="Profile" class="round-image"></p>
                              </div>
                            <img src="../../../../assets/flight-images/img1.jpg" class="d-block w-100 carousel-img" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>First Slide Label</h5>
                              <p class="for-name-of-flight">The Travels Era</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                           
                            <img src="../../../../assets/flight-images/img33.jpg" class="d-block w-100 carousel-img" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Second Slide Label</h5>
                              <p>Some representative placeholder content for the second slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="carousel-caption-top">
                                <h5>First Slide Label</h5>
                                <p class="for-name-of-flight">FLY HIGH BUDDY</p>
                              </div>
                            <img src="../../../../assets/flight-images/img3.png" class="d-block w-100 carousel-img" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Third Slide Label</h5>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
